<h1>Listing files</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Addr</th>
  </tr>

<% @files.each do |file| %>
  <tr>
    <td><%=h file.name %></td>
    <td><%=h file.addr %></td>
    <td><%= link_to 'Show', file %></td>
    <td><%= link_to 'Edit', edit_file_path(file) %></td>
    <td><%= link_to 'Destroy', file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New file', new_file_path %>